/* Webkit to change scrollbar look */

/* width */
::-webkit-scrollbar {
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #242424;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* Style for divs */

.station{
    padding-top: 5%;
}

.station-header{
    font-size: 1.2em;
    font-family: "SF Pro Bold", sans-serif;
    display: flex;
    justify-content: space-between;

    margin-left: 1%;
    margin-right: 2%;
}

.menu-list{
    padding-top: 3%;
    display: flex;
    flex-wrap: wrap;
}

.details{
    font-family: "SF Pro", sans-serif;
    background-color: gold;
    padding: 1% 2%;
}