services:
  db:
    image: postgres
    restart: always
    # or set shared memory limit when deploy via swarm stack
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: peterplate
    # TODO: volume is out of date, rn just do docker-compose up and db:push
    # volumes:
    #   - ./docker/db/peterplate.sql:/docker-entrypoint-initdb.d/init.sql
    #   - db_data:/var/lib/postgresql/data
    ports:
      - 5434:5432

volumes:
  db_data:
